body{
    font-family: "Roboto", system-ui;
}


header {
    background: linear-gradient(180deg, #c4b6fd, #93acfc);
  
    background-attachment: fixed;
}
/* nav a{
    color: white;
} */
.text-primary{
    color: #0a58ca !important;
    /* color: red; */
    font-size: 2rem; 
    /* font-weight: bold;  */
}
.bg-blue{
    color: #0a58ca;
    /* color: white; */
}
.card-title svg{
    width: 10%;
    height: 20%;
}
    
.card:hover{
    background: #0a58ca;
    color: white;
    cursor: pointer;
  
}

.nav-tabs .nav-link{
    color: black;
}
.nav-tabs .nav-link.active{
    background: #0a58ca;
    color: white;
    border: none  !important;
}